{{#isFormParam}}{{^isFile}}@Valid @RequestPart(value = "{{baseName}}"{{#required}}, required = true{{/required}}{{^required}}, required = false{{/required}}) {{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}@Valid @RequestPart(value = "{{baseName}}"{{#required}}, required = true{{/required}}{{^required}}, required = false{{/required}}) {{#isArray}}List<{{/isArray}}MultipartFile{{#isArray}}>{{/isArray}} {{baseName}}{{/isFile}}{{/isFormParam}}